.body {
  height: 100%;
  background-color: #000;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('../images/store.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('../images/store.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.section {
  height: 100%;
  padding-top: 40px;
}

.container {
  position: relative;
  height: 100%;
  padding-top: 20px;
  padding-left: 60px;
}

.logo {
  position: absolute;
  top: 80px;
  margin-bottom: 20px;
  margin-left: 40px;
}

.h1 {
  width: 220px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 4px solid #fff;
  color: #fff;
  line-height: 46px;
}

.text {
  width: 220px;
  color: #fff;
}

.text.starting-at {
  position: absolute;
  top: 60px;
  right: 142px;
  font-weight: 700;
}

.price {
  position: absolute;
  top: 82px;
  right: 142px;
  color: #fff;
  font-size: 100px;
  line-height: 100px;
  font-weight: 700;
}

.dollar-sign {
  position: relative;
  top: -42px;
  font-size: 40px;
  font-weight: 400;
}

.more {
  position: absolute;
  top: 212px;
  right: 266px;
  display: inline-block;
  padding: 10px 34px;
  border-radius: 3px;
  background-color: #fff;
  color: #000;
  font-size: 26px;
  line-height: 26px;
  text-decoration: none;
}

.more:hover {
  opacity: 0.8;
}

.from-wrapper {
  position: absolute;
  top: 210px;
  right: 110px;
  display: none;
  width: 250px;
  opacity: 0;
}

.submit-button {
  height: 50px;
  margin-top: 12px;
  border-radius: 3px;
  background-color: #fff;
  color: #000;
  font-weight: 700;
}

.submit-button:hover {
  opacity: 0.8;
}

.text-field {
  height: 50px;
  border-style: none none solid;
  border-top-width: 1px;
  border-top-color: #000;
  border-bottom-width: 1px;
  border-bottom-color: #fff;
  border-radius: 3px;
  background-color: hsla(0, 0%, 100%, .1);
  color: #fff;
  font-weight: 700;
}

.text-field:focus {
  border-radius: 3px;
  background-color: hsla(0, 0%, 100%, .2);
}

.mobile-fade {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100px;
  background-image: -webkit-linear-gradient(270deg, transparent, #000 93%);
  background-image: linear-gradient(180deg, transparent, #000 93%);
}

.success-message {
  background-color: transparent;
  color: #fff;
  font-weight: 700;
}

@media (max-width: 991px) {
  .body {
    height: auto;
    background-image: -webkit-linear-gradient(270deg, transparent 88%, #000), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('../images/store.jpg');
    background-image: linear-gradient(180deg, transparent 88%, #000), linear-gradient(180deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('../images/store.jpg');
    background-position: 0px 0px, 0px 0px, 50% 50%;
    background-size: auto, auto, cover;
    background-repeat: repeat, repeat, no-repeat;
    background-attachment: scroll, scroll, scroll;
  }
  .section {
    height: auto;
  }
  .container {
    height: auto;
    padding-bottom: 140px;
  }
  .logo {
    position: static;
    margin-left: 80px;
  }
}

@media (max-width: 767px) {
  .body {
    background-image: -webkit-linear-gradient(270deg, transparent 71%, #000), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('../images/store.jpg');
    background-image: linear-gradient(180deg, transparent 71%, #000), linear-gradient(180deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('../images/store.jpg');
    background-position: 0px 0px, 0px 0px, 50% -100px;
    background-size: auto, auto, cover;
    background-repeat: repeat, repeat, no-repeat;
    background-attachment: scroll, scroll, scroll;
  }
  .logo {
    margin-left: 60px;
  }
  .text.starting-at {
    right: 40px;
  }
  .price {
    right: 86px;
    font-size: 80px;
    line-height: 80px;
  }
  .more {
    top: 190px;
    right: 168px;
  }
  .from-wrapper {
    right: 16px;
  }
}

@media (max-width: 479px) {
  .body {
    background-image: -webkit-linear-gradient(270deg, transparent 80%, #000), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('../images/store.jpg');
    background-image: linear-gradient(180deg, transparent 80%, #000), linear-gradient(180deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('../images/store.jpg');
    background-position: 0px 0px, 0px 0px, 50% 50%;
    background-size: auto, auto, cover;
    background-repeat: repeat, repeat, no-repeat;
    background-attachment: scroll, scroll, scroll;
  }
  .section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .container {
    padding-left: 0px;
    text-align: center;
  }
  .logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .h1 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .text {
    display: block;
    width: 212px;
    margin-right: auto;
    margin-left: auto;
  }
  .text.starting-at {
    position: relative;
    top: 0px;
    right: 0px;
    margin-top: 34px;
  }
  .price {
    position: relative;
    top: 0px;
    right: 0px;
  }
  .more {
    position: relative;
    top: 4px;
    right: 0px;
    margin-top: 16px;
  }
  .from-wrapper {
    position: static;
    top: 592px;
    width: auto;
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
  }
}

@font-face {
  font-family: 'Fontawesome webfont';
  src: url('../fonts/fontawesome-webfont.woff2') format('undefined'), url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/FontAwesome.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Chronicle display light';
  src: url('../fonts/Chronicle-Display-Light.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Chronicle display light';
  src: url('../fonts/Chronicle-Display-Extra-Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}